/*==========fonts=========*/

@font-face {
    font-family: 'pf_beausans_proregular';
    src: url('../fonts/pfbeausanspro-regular-webfont.eot');
    src: url('../fonts/pfbeausanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfbeausanspro-regular-webfont.woff') format('woff'),
         url('../fonts/pfbeausanspro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pf_beausans_probold';
    src: url('../fonts/pfbeausanspro-bold-webfont.eot');
    src: url('../fonts/pfbeausanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfbeausanspro-bold-webfont.woff') format('woff'),
         url('../fonts/pfbeausanspro-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_beausans_prolight';
    src: url('../fonts/pfbeausanspro-light-webfont.eot');
    src: url('../fonts/pfbeausanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfbeausanspro-light-webfont.woff') format('woff'),
         url('../fonts/pfbeausanspro-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_beausans_prosemibold';
    src: url('../fonts/pfbeausanspro-semibold-webfont.eot');
    src: url('../fonts/pfbeausanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfbeausanspro-semibold-webfont.woff') format('woff'),
         url('../fonts/pfbeausanspro-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_beausans_probbook';
    src: url('../fonts/pfbeausanspro-bbook-webfont.eot');
    src: url('../fonts/pfbeausanspro-bbook-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfbeausanspro-bbook-webfont.woff') format('woff'),
         url('../fonts/pfbeausanspro-bbook-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*=====================================================*/

body {
	background:#fff;
}
.page {
	max-width: 1280px;
	min-width: 800px;
	margin: 0 auto;
}

/*=========page==========*/

/*==========header
===================*/

.header {
	position:relative;
}
.header__i {
	min-width: 800px;
	max-width:1280px;
	position:relative;
	height:91px;
	margin:0 auto;
	padding: 0 40px;
}

/*header__bord*/

.headerBord {
	position:absolute;
	width:100%;
	bottom:-9px;
	height:9px;
	overflow:hidden;
}

.header__bord {
	position:absolute;
	width:100%;
	top:0px;
	height:9px;
}
	.header__bord.bord_p {
		right:50%;
		background: #d22845;
		z-index:1;
		}
	.header__bord.bord_b {
		left:50%;
		background:#339dcf;
		z-index:1;
		}
	.header__bord.bord_g {
		background:url(../i/grad.png) repeat-y 50% 0;
		z-index:5;
		}


/*===header__norm
==================*/

.header__norm {
	position:relative;
	height:91px;
}

/*logo*/

.logo {
	position:absolute;
	top: 32px;
	left:0;
	}
	.logo a {

	}
	.logo a img {

	}

/*mainMenu*/

.mainMenu {
	position:absolute;
	top: 34px;
	left: 263px;
}
	.mainMenu>ul {
		height:40px;
	}
		.mainMenu>ul>li {
			display: -moz-inline-stack;
			display: inline-block;
			vertical-align: middle;	        
			zoom: 1;
			*display: inline;
			margin: 0 48px 0 0;
		}
			.mainMenu>ul>li>a {
				font:16px/18px 'pf_beausans_proregular';
				color:#373737;
				text-decoration: none;
				padding: 0 0 35px;
			}
			.mainMenu>ul>li.cur>a {
				color:#d22845;
			}
			.mainMenu>ul>li>a:hover {
				color:#d22845;
				text-decoration: underline;
			}

			.mainMenu .mainMenu__add {
				position:absolute;
				width:100%;
			}
			.mainMenu li ul {

			}
				.mainMenu li li {
					display: -moz-inline-stack;
					display: inline-block;
					vertical-align: middle;	        
					zoom: 1;
					*display: inline;
				}
					.mainMenu li li a {

					}
						.mainMenu li li a i {

						}

/*search*/

.search {
	position:absolute;
	top: 29px;
	right: 35px;
	cursor:pointer;
}
	.search i {
		display:block;
		width:33px;
		height:33px;
		background: url(../i/search.png) no-repeat 0 0;
	}
	.search i:hover {
		background-image: url(../i/search_h.png);
	}

/*=============header__search
==============================*/

.header__search {
	display:none;
	position:relative;
	background: #fff;
	z-index:850;
}
.header__searchI {
	max-width:1280px;
	position:relative;
	height:91px;
	margin:0 auto;
}
.search__slog {
	position:absolute;
	top: 34px;
	left: 392px;
}
	.search__slog i {
		display:block;
		position:absolute;
		top: -6px;
		left: -55px;
		width:33px;
		height:33px;
		background: url(../i/search_h.png) no-repeat 0 0;	
		}
	.search__slog span {
		
	}
	.search__slog input {
		position:absolute;
		top:-5px;
		padding:0 10px;
		left:-5px;
		width:490px;
		height:30px;
		border-top:1px solid #dddddd;
		border-bottom:1px solid #f6f6f6;
		border-left:1px solid #e7e7e7;
		border-right:1px solid #e7e7e7;
		background: none;
		font:16px/18px 'pf_beausans_proregular';
		color:#373737;
		border-radius:5px;
		box-shadow:inset 0 1px 0 rgba(0, 0, 0, 0.05);
	}
		.search__slog input:focus {
			outline:none;
			background: #fff;
		}
.close_ar {
	display:block;
	position:absolute;
	top: 28px;
	right: 90px;
	width:33px;
	height:33px;
	background: url(../i/s_ar.png) no-repeat 0 0;
	cursor:pointer;
}
	.close_ar:hover {
		background-position: 0 -43px;
	}
.close_cross {
	display:block;
	position:absolute;
	top: 28px;
	right: 34px;
	width:33px;
	height:33px;
	background: url(../i/cross.png) no-repeat 0 -43px;
	cursor:pointer;
}
	.close_cross:hover {
		background-position: 0 0;
	}

/*===========search__menu
==========================*/

.search__menu {
	position:absolute;
	width:100%;
	top:100%;
	left:0;
	overflow:hidden;
}

/*==search__bord
=================*/

.search__bord {
	position:absolute;
	width:100%;
	bottom:0;
	height:100%;
	z-index:1;
}
	.search__bord.bord_p {
		right:50%;
		background: #d22845;
		z-index:1;
		}
	.search__bord.bord_b {
		left:50%;
		background:#339dcf;
		z-index:1;
		}

/*==serch__menuI
=================*/

.serch__menuI {
	position:relative;
	width:1480px;
	margin:0 auto;
	z-index:5;
	background:url(../i/grad.png) repeat-y 50% 0;
	padding: 34px 0 18px;
}
	.serch__menuI ul {
		margin: 0 0 0 493px;
	}
		.serch__menuI li {
			margin: 0 0 14px;
		}
			.serch__menuI li a {
				font:16px/18px 'pf_beausans_proregular';
				color:#fff;
				text-decoration: none;
			}
				.serch__menuI li a:hover span {
					font:16px/18px 'pf_beausans_prosemibold';
					text-decoration: underline;
				}
				.serch__menuI a i {
					display:none;
					
					width:21px;
					height:21px;
					background:url(../i/arrow_i.png) no-repeat 0 0;
					margin: -5px 0 0 10px;
				}
					.serch__menuI a:hover i {
						display: -moz-inline-stack;
						display: inline-block;
						vertical-align: middle;	        
						zoom: 1;
						*display: inline;
					}

/*==========footer
===================*/

.footer {
	position:relative;
	overflow:hidden;
	padding:153px 0 0;
}

/*footer__bord*/
.footerBord {
	position:absolute;
	width:100%;
	bottom:0;
	height:7px;
}

.footer__bord {
	position:absolute;
	width:100%;
	top:0;
	height:7px;
}
	.footer__bord.bord_p {
		right:50%;
		background: #d22845;
		z-index:1;
		}
	.footer__bord.bord_b {
		left:50%;
		background:#339dcf;
		z-index:1;
		}
	.footer__bord.bord_g {
		background:url(../i/grad.png) no-repeat 50% 0;
		z-index:5;
		}

/*footer__i*/

.footer__i {
	height:90px;
	}
.social_f {
	float:left;
	padding: 26px 0 0 22px;
}
	.social_f a {
		display: -moz-inline-stack;
		display: inline-block;
		vertical-align: middle;	        
		zoom: 1;
		*display: inline;
		width:29px;
		height:29px;
		margin:0 5px 0 0;
	}
		.social_f a.vk {
			background:url(../i/vk.png) no-repeat 0 0;
		}
		.social_f a.vk:hover {
			background-position: 0 -39px;
		}
		.social_f a.fb {
			background:url(../i/fb.png) no-repeat 0 0;
		}
		.social_f a.fb:hover {
			background-position: 0 -39px;
		}
.region {
	float:right;
	font:18px/20px Arial, sans-serif;
	color:#000;
	margin: 25px 25px 0 0;
}
	.region a {
		display:none;
		font:18px/20px Arial, sans-serif;
		color:#000;
		margin:0 0 0 40px;
		text-decoration: none;
	}
	.region i {
		display: -moz-inline-stack;
		display: inline-block;
		vertical-align: middle;	        
		zoom: 1;
		*display: inline;
		width:29px;
		height:29px;
		background: url(../i/blr.png) no-repeat 0 0;
		margin: -8px 0 0 8px;
	}
		.region .rus i {
			background-position:0 -44px;
		}
		.region .uk i {
			background-position:0 -88px;
		}

/*=====sliderBox
=================*/
.linkSlide img{
	width: 100%;
}
.sliderBox {
	background: url(../i/grad.png) repeat-y 0 0;
}

/*slider__i*/

.slider__i {
	display: none;	
	text-decoration: none;
	position:relative;
}
.linkSlide {
	display:block;
	z-index:3;
}

.slider__i:first-child {
	display: block;
}

	.slider__ii {
		position:relative;
		height:542px;
		overflow: hidden;
	}


		.slider__title {
            /*display: none;*/
			position:absolute;
			top:82px;
			left:0;
			width: 562px;
			text-decoration: none;
			z-index:5;
		}

		/*
		.slider__title:first-child {
            display: block;
        }
        */

        .slider__title.cur {
            display: block;
         }
         	.slider__title:hover h2 {
         		background: #1183b8;
         	}
         	.slider__title:hover .slider__txt {
         		background: #26a9e6;
         	}
			.slider__title h2 {
				background:#26a9e6;
				font:36px/42px 'pf_beausans_prosemibold';
				color:#fff;
				padding: 38px 0 39px 99px;
			}
			.slider__txt {
				background:#1183b8;
				border-radius:0 0 15px 0;
				font:18px/27px Arial, sans-serif;
				color:#fff;
				padding: 15px 69px 29px 97px;
			}
				.slider__txt i {
					display: -moz-inline-stack;
					display: inline-block;
					vertical-align: middle;	        
					zoom: 1;
					*display: inline;
					width:21px;
					height:21px;
					background:url(../i/arrow.png) no-repeat 0 0;
				}

/*slider__nav*/
.slider__nav {
	height:97px;
	padding: 25px 0 30px 0;
}
	.nav__i {
		position:relative;
		float:left;
		background:url(../i/dotted.png) repeat-y 0 0;
		padding: 0 0 15px 2%;
		margin: 0 0 0 3%;
		cursor:default;
		cursor:pointer;
		width: 29%;
	}
		.nav__i:first-child {
			background:none;
			padding: 0px 0 0 3%;
			margin:0;
		}
		.nav__i.cur {

		}

			.nav__i:first-child .boxImg {
				top: -96px;
				left: -30px;
				width:124px;
				height:124px;
			}

				.nav__i.mouse_over .nav__title,
				.nav__i.cur .nav__title {
					font:24px/35px 'pf_beausans_prosemibold';
					letter-spacing: 0.03px;
				}
				.nav__i.cur .boxImg img {
					/*width:124px;*/
					/*height:124px;*/
				}
.nav__img {
	float:left;
	width:120px;
	position:relative;
	height:82px;
}
	.boxImg {
		position:absolute;
		top: -2px;
		left: 0px;
		width:82px;
		height:82px;
		border:8px solid #fff;
		border-radius:50%;
		overflow:hidden;
	}
		.boxImg img {
            display: block;
            width: 100%;
			/*width:82px;*/
			/*height:82px;*/
		}
.nav__title {
	overflow:hidden;
	zoom:1;
	font: 24px/35px 'pf_beausans_prolight';
	letter-spacing: 0.49px;
	padding: 13px 0 0 0;
	color:#fff;
}

/*=====optionBox
=================*/

.optionBox {
	height:538px;
	max-width: 1280px;
	margin: 0 auto;
}

/*optionItem*/

.optionItem {
	float:left;
	width:30%;
	height:325px;
	position:relative;
}
.optionItem.left:hover {
	background: #26a9e6;
}
.optionItem.right:hover {
	background: #1183b8;
}
	.optionItem:hover .optionIcon {
		background-image: url(../i/icon_h.png);
	}
	.optionItem:hover .optionTitle a,
	.optionItem:hover .optionDescr,
	.optionItem:hover .optionDescr a,
	.optionItem:hover .cloudBtn {
		color:#fff;
	}
	.optionItem:hover .cloudBtn {
		border:4px solid #fff;
		background: none;
	}
		.optionItem:hover .cloudBtn:hover {
			background: #fff;
			color:#26a9e6;
		}
	.optionItem.left {
		padding:69px 10% 144px 10%;
	}
	.optionItem.right {
		padding: 69px 10% 144px 10%;
	}
.optionIcon {
	display:block;
	width:58px;
	height:58px;
	background:url(../i/icon.png) no-repeat 0 0;
}
	.optionIcon.icon_reg {
		background-position:0 0;
	}
	.optionIcon.icon_help {
		background-position:0 -68px;
	}
	.optionIcon.icon_part {
		background-position:0 -136px;
	}
	.optionIcon.icon_soc {
		background-position:0 -204px;
	}
.optionTitle {
	font:30px/30px 'pf_beausans_probold';	
	margin: 64px 0 0;
	text-transform:uppercase;
}
	.optionTitle a {
		text-decoration: none;
		color:#000;
	}
.optionDescr {
	margin: 28px 0 0;
	font: 18px/27px Arial, sans-serif;
	color:#000;
}
	.optionDescr a {
		color:#26a9e6;
	}
		.optionDescr a:hover {
			text-decoration:none;
		}
.cloudBtn {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;	        
	zoom: 1;
	*display: inline;
	border:4px solid #26a9e6;
	background:#fff;
	border-radius:3px 3px 15px 15px;
	font:18px/20px 'pf_beausans_prolight';
	color:#26a9e6;
	margin: 40px 0 0;
	padding: 12px 13px 10px 18px;
	text-decoration:none;
}

/*==========bannerBox
======================*/

.bannerBox {
	max-width:1280px;
	margin:0 auto;
}
	.bannerBox__i {
		height:520px;
		background:url(../i/img/ban.jpg) no-repeat 50% 0;
		position:relative;
	}
	.bannerBox:hover .bannerBox__i {
		background-position:50% -529px;
	}
.bannerDescr {
	display:block;
	position:absolute;
	top: 71px;
	right: 168px;
	width: 442px;
	text-decoration: none;
}
	.iconBan {
		display:block;
		width:58px;
		height:58px;
		background:url(../i/i_ban.png) no-repeat 0 0;
	}
		.iconBan.serv {
			background-image: url(../i/serv.png);
		}
	.titleBan {	
		color:#fff;	
		margin: 62px 0 0 4px;
		text-transform:uppercase;
		font:30px/30px 'pf_beausans_prosemibold', sans-serif;
	}
	.titleBan a {
		text-decoration: none;
		color:#fff;
	}
	.txtBan {
		font:18px/27px Arial,sans-serif;
		color:#fff;
		margin: 46px 0 0 5px;
	}
	.txtBan .cloudBtn {
		border-color: #fff;
		background:none;
	}
		.txtBan .cloudBtn:hover {
			background:#fff;
			color:#26a9e6;
		}
		.txtBan a {
			color:#fff;
		}
			.txtBan a:hover {
				text-decoration: none;
			}

/*==========addMenu
====================*/

.addMenu {
	overflow:hidden;
	zoom:1;
	max-width:1240px;
	margin:72px auto 0;
}
	.addMenu ul {
		float:left;
		margin: 0 0 0 7.2%;
		width: 14%;
	}
		.addMenu ul:first-child {
			margin:0;
			padding-left: 1%;
		}
		.addMenu li {
			margin: 0 0 8px;
		}
			.addMenu li.titleLink {
				margin: 0 0 39px;
			}
				.addMenu li.titleLink a {
					font:16px/18px 'pf_beausans_prosemibold', sans-serif;
					color:#000;
				}
				
			.addMenu li.ros {
				margin: 38px 0 0;
			}
			.addMenu li a {
				text-decoration:none;
				font:16px/18px 'pf_beausans_proregular';
				color:#000;
			}
				.addMenu li a:hover {
					color:#d22845;
					text-decoration: underline;
				}

/*==================second==========================*/

/*=====navigation__prod
========================*/

.navigation__prod.nav_product {
	height:70px;
	margin:0 auto;
	position:relative;
}
	.navigation__prod.nav_product .mainMenu__add {
		top:0;
		display:block;
	}
/*.navigation__prod.nav_product .title__nav {
	float:left;
	margin:0 0 0 -100px;
	width:468px;
	text-align: right;
	background: #d02947;
	font:14px/14px 'pf_beausans_proregular';
	color:#fff;
	padding: 28px 126px 28px 0;
	vertical-align: middle;	
}
	.navigation__prod.nav_product .title__nav i {
		display: -moz-inline-stack;
		display: inline-block;
		vertical-align: middle;	        
		zoom: 1;
		*display: inline;
		width:18px;
		height:15px;
		background:url(../i/nav.png) no-repeat 0 0;
		margin: 0px 16px 0 0;
	}
	.navigation__prod.nav_product .title__nav.info i {
		background:url(../i/i.png) no-repeat 100% 0px;
		height:16px;
		margin-top:-1px;
	}*/

/*===nav__i
============*/

/*.navigation__prod.nav_product .nav__prod__i {
	background: #329ed0;
	float:left;
	width:886px;
	margin:0 -100px 0 0;
	overflow:hidden;
	zoom:1;
	padding: 0;
}
	.navigation__prod.nav_product .nav__prod__i li {
		float:left;
	}
		.navigation__prod.nav_product .nav__prod__i li a {
			display:block;
			font:14px/14px 'pf_beausans_proregular';
			color:#fff;
			text-decoration: none;
			padding: 28px 22px 29px 22px;
		}
		.navigation__prod.nav_product .nav__prod__i li.cur a {
			background: #1183b8;
		}
		.navigation__prod.nav_product .nav__prod__i li a:hover {
			background: #1183b8;
		}*/

/*=====navigation__prod
========================*/
.navigation__prod {
	background: #329ed0;
}
.navigation__prod_ii {
	height:70px;
	max-width:1280px;
	margin:0 auto;
}
/*===nav__i
============*/

.nav__prod__i {
	background: #329ed0;
	overflow:hidden;
	zoom:1;
	padding:0 0 0 340px;
}
	.nav__prod__i li {
		float:left;
	}
		.nav__prod__i li a {
			display:block;
			font:14px/14px 'pf_beausans_proregular';
			color:#fff;
			text-decoration: none;
			padding: 28px 22px 29px 22px;
		}
		.nav__prod__i li.cur a {
			background: #1183b8;
		}
		.nav__prod__i li a:hover {
			background: #1183b8;
		}

/*=========catalogPage
=======================*/

.catalogPage {
	max-width: 1280px;
	padding: 0 0 114px;
	background: url(../i/catalog_f.jpg) repeat-y 50% 0;
}

.catalogBox {
	margin:0 auto;
	padding: 86px 0 0;
}
.catalog__i {
	overflow:hidden;
	zoom:1;
	width:100%;
}
.catalog__ii {
	/margin:0 -23px;
}

/*prod__item*/

.prod__item {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;	        
	zoom: 1;
	*display: inline;
	width: 30%;
	margin: 0 1.5% 102px;
	text-decoration:none;
}
	.prod__item.prod__item_archiv .prod__descr {
		background:#a0a0a0;
	}
	.prod__item.prod__item_archiv:hover .prod__descr {
		color:#a0a0a0;
	}

.prod__pic_h {
	display:none;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background: url(../i/ar_prod.png) no-repeat 50% 60px;
	border-radius:10px;
}
	.prod__item:hover .prod__pic .prod__pic_h {
		display:block;
	}

.prod__pic {
	height:170px;
	text-align: center;
	overflow:hidden;
	margin: 0 0 68px;
	position:relative;
}
	.prod__pic img {
	}
		.prod__item:hover .prod__pic img {
			margin:-170px 0 0;
		}

/*prod__descr*/

.prod__descr {
	background: #329ed0;
	color:#fff;
	padding: 49px 45px 10px 26px;
	height:212px;
}
	.prod__item:hover .prod__descr {
		background: #fff;
		color:#1183b8;
	}
.title__descr {
	font:30px/30px 'pf_beausans_probold';
	text-transform: uppercase;
	margin: 0 0 28px;

}

.descr__i {
	font:18px/27px Arial, sans-serif;
}

/*pager*/

.pager {
	
}
	.loader {
		padding: 3px 0 10px;
		text-align: center;
	}
		.loader a {
			display: -moz-inline-stack;
			display: inline-block;
			vertical-align: middle;	        
			zoom: 1;
			*display: inline;
			width:11px;
			height:11px;
			background: url(../i/bul.png) no-repeat 0 0;
			margin:0 9px;
		}
			.loader a.cur {
				background-position: 0 -42px;
			}
	.archive {
		text-align: center;
	}
		.archive a {
			text-decoration: underline;
			color:#fff;
			font:30px/30px 'pf_beausans_probold';
		}
			.archive a:hover {
				text-decoration: none;
			}


/*===============contentBox
============================*/

.contentBox {
	max-width:1280px;
	margin:0 auto;
}

.content {
	color:#000;
}
	.content h1 {
		font:48px/48px 'pf_beausans_prosemibold';
		margin: 106px 0 82px;
	}
	.content p {
		font:18px/27px Arial, sans-serif;
		margin: 54px 0 0;
	}
	.content p a {
		color:#329ed0;
	}
		.content p a:hover {
			text-decoration: none;
		}
	.content ol {
		margin: 27px 0 0 25px;
		font:18px/27px Arial, sans-serif;
	}
	.content h2 {
		font:30px/30px 'pf_beausans_prosemibold';
		margin: 101px 0 0;
	}
	.content ul {
		margin: 27px 0 0 20px;
	}
		.content ul li {
			list-style-type: disc;
			font:18px/27px Arial, sans-serif;
			margin: 0 0 27px;
		}
	.content blockquote {
		font:36px/54px 'pf_beausans_prolight';
		margin: 159px 280px 0 129px;
	}
	.content .bannerBox {
		margin: 93px auto 0;
	}

	/*gallery*/

	.content .galleryBox {
		position:relative;
		height:648px;
		margin: 86px 0 0;
	}
		.content .galleryBox img {
			width:1280px;
		}
		.galleryBox .gal__a {
			display:block;
			position:absolute;
			top:50%;
			width:72px;
			height:72px;
			background-image: url(../i/arrow_g.png);
			background-repeat: no-repeat;
			cursor:pointer;
			margin:-18px 0 0;
			z-index:80;
		}
			.galleryBox .gal__a:hover {
				background-image: url(../i/arrow_g_h.png);
			}
			.galleryBox .gal__a.prev {
				background-position: 0 0;
				left:28px;
			}
			.galleryBox .gal__a.next {
				background-position: 0 -82px;
				right:28px;
			}

/*======adBox
==============*/

.adBox {
	overflow:hidden;
	zoom:1;
}
.ad__i {
	float:left;
}

	.ad__i.max {
		width: 50%;
	}
	.ad__i.min {
		width: 50%;
	}
	.ad__i.top {
		height:574px;
	}
		.ad__i.top .ad__txt {
			background:#26a9e6;
			height:502px;
		}
		.ad__i.top .ad__txt:hover {
			background:#1183b8;
		}
	.ad__i.bot {
		height:540px;
	}
		.ad__i.bot .ad__txt {
			height:468px;
			background:#1183b8;
		}
			.ad__i.bot .ad__txt:hover {
				background:#26a9e6;
			}
.ad__img {
	position:relative;
}
	.ad__img img {
		height: 574px;
		width:100%;
	}
	.ad__img_h {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background:url(../i/big_ar.png) no-repeat 50% 50% rgba(17, 131, 184, 0.8);
		cursor:pointer;
		display:none;
	}
		.ad__img:hover .ad__img_h {
			display:block;
		}
.ad__txt {
	height:100%;
	padding: 72px 20% 0 18%;
}
	.ad__txt .ad__icon {
		display:block;
		width:58px;
		height:58px;
		background:url(../i/i_ban.png) no-repeat 0 0;
	}
		.ad__txt .ad__icon.ar_icon {
			background: url(../i/icon_h.png) no-repeat 0 0;
		}
	.ad__txt_title {
		color:#fff;
		margin: 62px 0 0 4px;
		text-transform:uppercase;
		font:30px/30px 'pf_beausans_probold', sans-serif;
	}
	.ad__txt_i {
		font:18px/27px Arial,sans-serif;
		color:#fff;
		margin: 28px 0 65px 7px;
	}
		.ad__txt_i a {
			color:#fff;
		}
			.ad__txt_i a:hover {
				text-decoration: none;
			}
	.ad__txt .cloudBtn {
		border-color:#fff;
		color:#fff;
		background:none;
		margin: 0 0 0 8px;
	}
		.ad__txt .cloudBtn:hover {
			background:#fff;
			color:#26a9e6;
		}

//*=========specification
==========================*/

.prodSpecification {

}
.modelReview {
	margin: 90px 0 0;
}

/*==cabinet==*/

	.modelReview .cabinet {
		width:100%;
		overflow: hidden;
		zoom: 1;
	}
		.modelReview .cabinet__i {
			display:block;
			float:left;
		}
			.modelReview .cabinet__i.cab_l {
				width: 35%;
				margin: 0 7% 0 0;
			}
			.modelReview .cabinet__i.cab_r {
				width: 56%;
			}

/*descr__model*/

.descr__model {
	margin: 57px 0 0 0;
}

.name__model {
	font:48px/57px 'pf_beausans_prosemibold';
	color:#000;
}

.txt__model {
	font: 18px/27px Arial, sans-serif;
	margin: 53px 0 0;
}

 .descr__model .cloudBtn {
 	margin: 59px 0 0;
 }
 	.cloudBtn.btn_blue {
 		background:#26a9e6;
 		color:#fff;
 		text-transform: uppercase;
 		font:28px/30px 'pf_beausans_probold';
 		padding: 8px 24px 4px 24px;
 	}
 	.cloudBtn.btn_blue:hover {
 		background: #1183b8;
 		border-color:#1183b8;
 	}
/*fotoBox__model*/

.fotoBox__model {
	margin: 9px 0 0;
}
.bigFotot__model {
	text-align: center;
	height:416px;
	line-height: 416px;
	visibility: hidden
}
	.bigFotot__model img {		
		vertical-align:bottom;
		height:416px;
		width:660px;
	}
.previewBox {
	height:135px;
	position:relative;
	overflow:hidden;
	margin: 60px 0 0;
	padding: 0 55px 0;
}
	.previewBox .prev_ar {
		position:absolute;
		top: 36px;
		width:25px;
		height:17px;
		background-image:url(../i/ar_pic.png);
		z-index:10;
		cursor:pointer;
	}
		.previewBox .prev_ar.ar_l {
			left: 17px;
			background-position: 0 0;
		}
			.previewBox .prev_ar.ar_l:hover {
				background-position: 0 -54px;
			}
		.previewBox .prev_ar.ar_r {
			right:12px;
			background-position: 0 -27px;
		}
			.previewBox .prev_ar.ar_r:hover {
				background-position: 0 -80px;
			}
.previewBox__i {
	overflow:hidden;
	zoom:1;
	padding:0 0 30px;
	position:relative;
	z-index:5;
	height:135px;
}
.preview__item {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;	        
	zoom: 1;
	*display: inline;
	position:relative;
	width:182px;
	height:135px;
	text-align: center;
	cursor:pointer;
	line-height: 90px;
}
	.preview__item img {
		max-width:140px;
		vertical-align:middle;
	}
	.bul__preview {
		position:absolute;
		bottom:18px;
		left:50%;
		width:10px;
		height:10px;
		border-radius:50%;
		margin:0 0 0 -5px;
		background:#d02947;
	}

/*======characteristicsBox
===========================*/

.characteristicsBox {
	height:377px;
	padding: 110px 0 0;
	background:url(../i/catalog_f.jpg) no-repeat 50% 0;
}

/*cabinet*/

.characteristicsBox .cabinet {
	overflow:hidden;
	zoom:1;
}
	.characteristicsBox .cabinet__i {
		
	}
		.characteristicsBox .cabinet__i.cab_l {
			float:left;
			width: 40%;
			padding: 0 6% 0;
		}
		.characteristicsBox .cabinet__i.cab_r {
			overflow:hidden;
			width: 48%;
			zoom:1;
		}

/*==visual_characteristic
==========================*/

.visual_characteristic {
	position:relative;
	margin: 11px 0 0;
	width: 560px;
}
.visual__i {
	overflow:hidden;
	zoom:1;
	padding: 0 0px 25px 0;
	width: 560px;
}
.visual__item {
	height:170px;
	width: 560px;
	float: left;
}
	.visual__item .visual__pic {
		float:left;
		width:250px;
		margin: 0 69px 0 0;
	}
		.visual__item .visual__pic img {
			max-width: 250px;
		}
	.visual__item .visual__descr {
		font:30px/36px 'pf_beausans_probold';
		color:#fff;
		overflow:hidden;
		zoom:1;
		padding: 28px 0 0;
	}
.visual__loader {
	width: 245px;
	text-align: center;
	margin: 26px 0 0;
}
	.visual__loader a {
		display: -moz-inline-stack;
		display: inline-block;
		vertical-align: middle;	        
		zoom: 1;
		*display: inline;
		width:10px;
		height:10px;
		margin: 0 8px;
		border-radius:50%;
		background:#fff;
		text-indent: -1000px;
		overflow: hidden;
	}
		.visual__loader a.selected {
			background: #d02947;
		}
/*==characteristic__descr
==========================*/

.characteristic__descr {
	padding: 6px 0 0;
}
	.characteristic__descr ul {
		padding: 0 78px 0 0;
	}
		.characteristic__descr li {
			font:18px/27px Arial, sans-serif;
			color:#fff;
			margin: 0 0 54px;
			padding: 0 0 0 81px;
			position:relative;
		}
			.characteristic__descr li i {
				display:block;
				position:absolute;
				top: -2px;
				left:0;
				width:58px;
				height:58px;
				background-image: url(../i/icon_char.png);
			}
				.characteristic__descr li i.ram {
					background-position: 0 0;
				}
				.characteristic__descr li i.module {
					background-position: 0 -68px;
				}
				.characteristic__descr li i.muse {
					background-position: 0 -136px;
				}

/*======featuresBox
=====================*/

.featuresBox {
	min-height:640px;
	position:relative;
	padding:0 100px;
}

/*boxFiles*/

.boxFiles {
	position:absolute;
	background:#26a9e6;
	top:0;
	right:0;
	padding: 64px 0 48px 0;
	width: 268px;
	z-index: 999;
}
.titleFiles {
	font:30px/32px 'pf_beausans_prosemibold';
	color:#fff;
	position:relative;
	padding: 0 0 0 46px;
	margin: 0px 0 44px 37px;
}
	.titleFiles i {
		display:block;
		position:absolute;
		top: 3px;
		left:0;
		width:20px;
		height:23px;
		background:url(../i/file.png) no-repeat 0 0;
	}
.files__option {
}
	.files__option li {
	}
		.files__option li a {
			display:block;
			position:relative;
			font:18px/28px Arial, sans-serif;
			color:#fff;
			text-decoration:none;
			padding: 19px 70px 20px 84px;
		}
			.files__option li a:hover {
				background:#1183b8;
			}
			.files__option a i {
				display:block;
				position:absolute;
				top: 25px;
				left: 37px;
				font:normal 17px/18px 'pf_beausans_probold';
				color:#fff;
				text-transform: uppercase;
			}
				.files__option a i.arrow_f {
					background: url(../i/arrow_f.png) no-repeat 0 0;
					width:16px;
					height:14px;
				}

/*featuresBox__i*/

.featuresBox__i {
	padding: 0 320px 80px 0;
}
.features__title {
	font:30px/30px 'pf_beausans_prosemibold';
	color:#000;
	margin: 94px 0 0;
}
.features__data {
	width:100%;
	margin: 39px 0 0;
}
	.features__data tr {

	}
		.features__data td {
			padding:0 8px 0 0;
			font:18px/18px Arial, sans-serif;
			color:#000;
			height: 45px;
		}
		.features__data td:first-child {
			width:510px;
		}

/*=======supportBox
====================*/

.supportBox {
	margin:0 -100px;
}
.support__i {

}
.support__section {

}
	.support__section.section_one .section__title {
		background-position: 50% 0;
	}
	.support__section.section_two .section__title {
		background-position: 50% -205px;
	}
	.support__section.section_three .section__title {
		background-position: 50% -410px;
	}
	.support__section.section_four .section__title {
		background-position: 50% -615px;
	}
	.support__section.section_five .section__title {
		background-position: 50% -820px;
	}


	.support__section.cur .section__title {
		background-image: url(../i/title_s.jpg);
	}
		.support__section.cur .section__title i {
			background-position: 0 -35px;
		}
.section__title {
	background: url(../i/title_f.jpg) no-repeat 50% 0;
	font:36px/36px 'pf_beausans_prosemibold';
	color:#fff;
	position:relative;
	padding: 79px 100px 84px;
}
	.section__title i {
		display:block;
		position:absolute;
		top: 77px;
		right: 105px;
		width:17px;
		height:25px;
		background:url(../i/ar_title.png) no-repeat 0 0;
	}
.section__content {
	display:none;
	padding:0 100px;
}
.section__i {
	border-top:1px solid #d7d7d7; 
	padding: 51px 0 50px;
}
	.section__i:first-child {
		border-top:0;
		padding: 67px 0 51px;
	}
	.section__i img {
		display: -moz-inline-stack;
		display: inline-block;
		vertical-align: middle;	        
		zoom: 1;
		*display: inline;
		margin: 0 56px 0 39px;
	}
	.section__i .name__item {
		display: -moz-inline-stack;
		display: inline-block;
		vertical-align: middle;	        
		zoom: 1;
		*display: inline;
		font:30px/30px 'pf_beausans_prosemibold';
		color:#000;
		width: 345px;
		margin:0 10px 0 0;
	}
	.section__i .section__option {
		display: -moz-inline-stack;
		display: inline-block;
		vertical-align: middle;	        
		zoom: 1;
		*display: inline;
		width: 665px;
	}
		.section__i .section__option li {
			display: -moz-inline-stack;
			display: inline-block;
			vertical-align: middle;	        
			zoom: 1;
			*display: inline;
			margin: 0 40px 0 0;
		}
			.section__i .section__option li a {
				display:block;
				position:relative;
				font: 18px/38px Arial, sans-serif;
				color:#000;
				text-decoration: none;
				min-width: 168px;
			}
				.section__i .section__option a i {
					display: -moz-inline-stack;
					display: inline-block;
					vertical-align: middle;	        
					zoom: 1;
					font:normal 16px/18px 'pf_beausans_probold';
					color:#329ed0;
					text-transform: uppercase;
					margin:0 10px 0 0;
				}
					.section__i .section__option a i.arrow_s {
						width:16px;
						height:14px;
						background:url(../i/arrow_s.png) no-repeat 0 0;
					}

/*======miniBox__faq
=====================*/

.miniBox__faq {
	margin: 84px 0 0;
}
.title__faq {
	font:30px/30px 'pf_beausans_probold';
	color:#000;
	text-transform: uppercase;
	margin: 0 0 0 17px;
}
	.main_faq .title__faq {
		font:48px/48px 'pf_beausans_prosemibold';
	}
.nav__faq {
	margin: 0 0 0 -150px;
}
.main_faq .nav__faq {
	margin: 98px 0 0 -125px;
}
	.main_faq .nav__faq li {
		margin: 92px 0 0 140px;
		width: auto;
	}
	.main_faq .nav__faq li a {
		padding: 0 0 0 87px;
	}
	.nav__faq li {
		display: -moz-inline-stack;
		display: inline-block;
		vertical-align: middle;	        
		zoom: 1;
		*display: inline;
		margin: 92px 0 0 150px;
		min-width: 309px;
	}
		.nav__faq li a {
			display:block;
			position:relative;
			font:18px/18px Arial, sans-serif;
			color:#000;
			text-decoration: none;
			padding: 0 0 0 85px;
		}
			.nav__faq li.current a {
				color:#d02947;
			}
				.nav__faq li.current a i {
					background-image: url(../i/icon_faq_hm.png);
				}
			.nav__faq a i {
				position:absolute;
				display:block;
				top: -23px;
				left: 4px;
				width:58px;
				height:58px;
				background-image: url(../i/icon_faq.png);
			}
				.nav__faq a:hover {
					color:#d02947;
					text-decoration:underline;
				}
				.nav__faq a:hover i {
					background-image: url(../i/icon_faq_hm.png);
				}
				.nav__faq a i.navigation_i {
					background-position: 0 0;
				}
				.nav__faq a i.reg_i {
					background-position: 0 -68px;
				}
				.nav__faq a i.plan_i {
					background-position: 0 -136px;
				}
				.nav__faq a i.action_cam {
					background-position: 0 -204px;
				}
				.nav__faq a i.plan_child {
					background-position: 0 -272px;
				}

/*=======faqBox
=================*/
.boxFaq__tab {
	margin: 0 0 113px;
}
.faqBox {
	
}
	.faqBox ul {
		padding: 107px 0 0 35px;
	}
		.faqBox ul li {
			font:20px/22px 'pf_beausans_probbook';
			color:#26a9e6;
			list-style-type: disc;
			margin: 0 0 23px;
		}
			.faqBox ul li:hover .quest {
				text-decoration: underline;
			}
			.faqBox li .quest {
				color:#26a9e6;
				text-decoration: none;
			}
			.faqBox li .answer {
				display:none;
				color:#000;
				font:18px/27px 'pf_beausans_probbook';
				margin: 20px 0 38px 34px;
			}
			.faqBox ul li.cur {
				list-style-type: circle;
				color:#d02947;
			}
				.faqBox ul li.cur .quest {
					color:#d02947;
				}

/*========searchPage
======================*/

.searchPage {
	margin: 74px 0 117px;
}
.search__cont {
	position:relative;
}
	.search__cont input {
		padding:0 24px;
		width:700px;
		height:48px;
		border:3px solid #329ed0;
		font:24px/24px 'pf_beausans_proregular';
		color:#000;
		vertical-align: middle;
	}
		.search__cont .close__search {
			display:block;
			position:absolute;
			top: 19px;
			left: 720px;
			width:15px;
			height:15px;
			background:url(../i/search_cross.png) no-repeat 0 0;
		}
			.search__cont .close__search:hover  {
				background-position: 0 -25px;
			}
	.search__cont input:focus {
		outline:none;
		border-color: #d02947;
	}
	.search__cont .search__btn {
		display: -moz-inline-stack;
		display: inline-block;
		vertical-align: middle;	        
		zoom: 1;
		*display: inline;
		width:53px;
		height:53px;
		margin: 0 0 0 9px;
		background:url(../i/search_ar.png) no-repeat 0 0;
	}
		.search__cont .search__btn:hover {
			background-position: 0 -63px;
		}
.title__search {
	font:48px/50px 'pf_beausans_prosemibold';
	color:#000;
	margin: 85px 0 0;
}
.search__resultPage {
	margin: 78px 0 0;
}
.search__item {
	display:block;
	text-decoration: none;
	margin: 0 0 44px;
	color:#000;
}
.search__item:hover {
	text-decoration: underline;
	color:#1183b8;
}
	.search__item:hover .search__itemTitle,
	.search__item:hover .search__itemDescr {
		color:#1183b8;
	}
	.search__itemTitle {
		font:24px/28px 'pf_beausans_proregular';
		color:#000;
	}
		.search__itemTitle i {
			font-style:normal;
			font-family: 'pf_beausans_prosemibold';
		}
		.search__itemTitle strong {
			font-weight:normal;
			font-family: 'pf_beausans_probold';
		}
	.search__itemDescr {
		font:18px/27px Arial, sans-serif;
		color:#000;
		margin: 9px 0 0;
	}
.search__loader {
	text-align: center;
	margin: 97px 0 10px;

}
	.search__loader a {
		display: -moz-inline-stack;
		display: inline-block;
		vertical-align: middle;	        
		zoom: 1;
		*display: inline;
		width:11px;
		height:11px;
		margin: 0 8px;
		background: url(../i/bul_l.png) no-repeat 0 -42px;
	}
	.search__loader a:hover {
		background-position: 0 -21px;
	}
	.search__loader a.cur {
		background-position: 0 0;
	}

/*======registration
=====================*/

.registrationPage {
	margin: 105px 0 0;

}
.reg__commaent {
	font:18px/27px Arial, sans-serif;
	color:#000;
	margin: 78px 0 0;
}

/*pageForm*/

.pageForm {
	margin: 92px -100px 0;
	padding: 120px 100px 44px;
	background:url(../i/catalog_f.jpg) repeat-y 0 0;
}
.formBox {
	margin: 0 0 119px;
}
.title__form {
	font:30px/32px 'pf_beausans_prosemibold';
	color:#fff;
	margin: 0 0 0 30px;
}
.form__cont {
	margin: 69px 0 0 0;
}
.form__item {
	margin: 0 0 40px;
}
	.form__item label {
		width: 239px;
		display: -moz-inline-stack;
		display: inline-block;
		vertical-align: middle;	        
		zoom: 1;
		*display: inline;
		font:20px/20px 'pf_beausans_prosemibold';
		color:#fff;
		text-align:right;
		margin: 0 31px 0 0;
	}
	.form__item.error_form .inputBox input {
		border-color: #d02947;
	}
	.form__item .inputBox {
		display: -moz-inline-stack;
		display: inline-block;
		vertical-align: middle;	        
		zoom: 1;
		*display: inline;
	}
		.form__item .inputBox.checkBox label {
			width:auto;
			font:18px/18px 'pf_beausans_proregular';
			margin: 0 46px 0 8px;
		}
		.form__item .inputBox input {
			vertical-align: middle;
		}
		.form__item .inputBox input[type="text"] {
			width: 186px;
			padding:0 15px;
			height:42px;
			border:4px solid #5e95bc;
			border-radius:4px;
			background:none;
			font:18px/18px 'pf_beausans_proregular';
			color:#fff;
			
			margin: 0 16px 0 0;
		}
		.form__item .inputBox.dateBlock input {
			width: 54px;
			padding: 0;
			text-align: center;
		}
		.form__item .inputBox.bigInput input {
			width: 304px;
		}
		.form__item .inputBox.bigInput input {
			width: 341px;
		}
		.form__item .inputBox input:focus {
			outline:none;
		}
		.form__item .inputBox select {
			width: 228px;
			padding: 0 0px 0 10px;
			height: 50px;
			border:4px solid #5e95bc;
			border-radius:4px;
			background:none;
			font:18px/18px 'pf_beausans_proregular';
			color:#fff;
			vertical-align: middle;
		}
		.form__item .inputBox select option {
			color:#000;
		}
		.form__item .inputBox  span {
			font:italic 18px/20px Arial, sans-serif;
			color:#fff;
			vertical-align: middle;
		}
		.form__item .inputBox .item__i {
			display: -moz-inline-stack;
			display: inline-block;
			vertical-align: middle;	        
			zoom: 1;
			*display: inline;
			width:38px;
			height:38px;
			margin: 0 17px 0 0;
		}
			.form__item .inputBox .item__i.quest {
				background:url(../i/q.png) no-repeat 0 0;
			}
			.form__item .inputBox .item__i.er_i {
				background:url(../i/e.png) no-repeat 0 0;
			}
.button__form {
	text-align: center;
	margin: 89px 0 0;
}
	.button__form .cloudBtn {
		border-color: #5586aa;
		background:#5586aa;
		color:#fff;
		font-family: 'pf_beausans_prosemibold';
		vertical-align: middle;
		margin: 0;
		font-size:20px;
	}
	.button__form span {
		vertical-align: middle;
		font:italic 18px/20px Arial, sans-serif;
		color:#fff;
	}

/*=======mapsPage
=================*/

.mapsPage {

}
.titlePage {
	font:48px/48px 'pf_beausans_prosemibold';
	color:#000;
	margin: 106px 0 0;
}

/*selectOption__maps*/

.selectOption__maps {
	position:relative;
	margin: 68px 0 53px;
}
	.selectOption__maps select {
		border:4px solid #329ed0;
		border-radius:3px;
		padding: 0 0 0 11px;
		margin: 0 29px 0 0;
		height: 51px;
		width: 229px;
		font:18px/18px 'pf_beausans_proregular';
		color:#000;
	}
		.selectOption__maps select:focus {
			outline:none;
		}
		.selectOption__maps option {

		}
	.openMaps {
		display:block;
		position:absolute;
		top: 18px;
		right: 21px;
		padding: 0 9px 0 0;
		color:#329ed0;
		text-decoration: none;
		font:18px/18px 'pf_beausans_prosemibold';
	}
		.openMaps.mapsVis {
			color:#d02947;
		}
			.openMaps.mapsVis span {
				border-color:#d02947;
			}
			.openMaps.mapsVis i {
				top:0;
				left:100%;
				background:url(../i/ar_maps.png) no-repeat 50% 50%;
			}
		.openMaps span {
			border-bottom: 1px dashed #329ed0;
		}
		.openMaps i {
			display:block;
			position:absolute;
			top:0;
			left:-25px;
			width:15px;
			height:18px;
			background: url(../i/bul_maps.png) no-repeat 0 0;
		}

/*mapsBox*/
.mapsBox.mapsVis {
	display:block;
}
.mapsBox {
	position:relative;
	text-align: center;
	margin: 0 0 35px;
	display:none;
}
	.mapsBox i {
		display:block;
		position:absolute;
		top:0;
		left:0;
		width:64px;
		height:79px;
		background: url(../i/marker.png) no-repeat 0 0;
	}
	.mapsBox img {

	}

/*info__maps*/

.info__maps {

}
.info__maps__i {
	
}
.infoMaps__item {
	border-top:1px solid #d7d7d7;
	padding: 46px 0 20px 19px;
	margin: 0 0;
	overflow:hidden;
	zoom:1;
}
	.infoMaps__item:first-child {
		border:0;
	}
	.infoMaps__item .title {
		font:30px/32px 'pf_beausans_prosemibold';
		color:#000;
		margin: 0 0 28px;
		display: -moz-inline-stack;
		float:left;
		width: 374px;
	}
		.infoMaps__item .title a {
			display: -moz-inline-stack;
			display: inline-block;
			vertical-align: middle;	        
			zoom: 1;
			*display: inline;
			width:15px;
			height:18px;
			margin: 0 0 0 15px;
			background:url(../i/bul_maps.png) no-repeat 0 0;
		}
			.infoMaps__item .title a:hover {
				background-position: 0 -28px;
			}
	.infoContact {
		overflow:hidden;
		zoom:1;
	}
		.infoContact strong {
			display:block;
			font:bold 18px/18px Arial, sans-serif;
			color:#000;
			margin: 0 0 31px;
		}
		.infoContact__i {
			float:left;
			width: 350px;
			padding:0 10px 0 0;
			font:18px/27px Arial, sans-serif;
			color:#000;
			margin: 11px 0 26px 162px;
		}
			.infoContact__i:first-child {
				margin:11px 0 26px;
			}
			.infoContact__i a {
				text-decoration: none;
				color:#000;
			}
/*=====mainMenu__add
=====================*/

.mainMenu__add {
	display:none;
	position:absolute;
	width:100%;
	z-index:800;
	height:72px;
	top: 100%;
	left:0;
	overflow: hidden;
}
.mainMenu__add .search__bord {
	top:0;
	height:72px;
}
.mainMenu__add_i {
	position:absolute;
	top:0;
	left: 680px;
	margin:0 0 0 -740px;
	width:1480px;
	z-index:5;
	background: url(../i/grad.png) repeat-y 50% 0;
	height:72px;
}
	.mainMenu__add_i ul {
		margin: 0 0 0 343px;
		max-width:1280px;
	}
		.mainMenu__add_i ul li {
			display: -moz-inline-stack;
			display: inline-block;
			vertical-align: middle;	        
			zoom: 1;
			*display: inline;
		}
			.mainMenu__add_i li a {
				display:block;
				font:14px/16px 'pf_beausans_proregular';
				color:#fff;
				text-decoration: none;
				padding: 29px 21px 27px;
			}
			.mainMenu__add_i li a:hover {
				background: #1183b8;
			}
.loader{display: none;}
.fotoBox__model .caroufredsel_wrapper{height: 421px !important}
.loader a.pre-cur {background-position: 0 -21px;}
.loader a{cursor: default;}