/*==========fonts=========*/

@font-face {
    font-family: 'pf_beausans_proregular';
    src: url('../fonts/pfbeausanspro-regular-webfont.eot');
    src: url('../fonts/pfbeausanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfbeausanspro-regular-webfont.woff') format('woff'),
         url('../fonts/pfbeausanspro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pf_beausans_probold';
    src: url('../fonts/pfbeausanspro-bold-webfont.eot');
    src: url('../fonts/pfbeausanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfbeausanspro-bold-webfont.woff') format('woff'),
         url('../fonts/pfbeausanspro-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_beausans_prolight';
    src: url('../fonts/pfbeausanspro-light-webfont.eot');
    src: url('../fonts/pfbeausanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfbeausanspro-light-webfont.woff') format('woff'),
         url('../fonts/pfbeausanspro-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_beausans_prosemibold';
    src: url('../fonts/pfbeausanspro-semibold-webfont.eot');
    src: url('../fonts/pfbeausanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfbeausanspro-semibold-webfont.woff') format('woff'),
         url('../fonts/pfbeausanspro-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*=====================================================*/

body {
	background:#fff;
	min-width:1280px;
}

/*=========page==========*/

/*==========header
===================*/

.header {
	position:relative;
}
	.header__i {
		width:1280px;
		position:relative;
		height:91px;
		margin:0 auto;
		
		
		}

/*header__bord*/

.headerBord {
	position:absolute;
	width:100%;
	bottom:-9px;
	height:9px;
	overflow:hidden;
}

.header__bord {
	position:absolute;
	width:100%;
	top:0px;
	height:9px;
}
	.header__bord.bord_p {
		right:50%;
		background: #d22845;
		z-index:1;
		}
	.header__bord.bord_b {
		left:50%;
		background:#339dcf;
		z-index:1;
		}
	.header__bord.bord_g {
		background:url(../i/grad.png) repeat-y 50% 0;
		z-index:5;
		}


/*===header__norm
==================*/

.header__norm {
	position:relative;
	height:91px;
}

/*logo*/

.logo {
	position:absolute;
	top: 32px;
	left:0;
	}
	.logo a {

	}
	.logo a img {

	}

/*mainMenu*/

.mainMenu {
	position:absolute;
	top: 32px;
	left: 263px;
}
	.mainMenu ul {
		height:40px;
	}
		.mainMenu li {
			display: -moz-inline-stack;
			display: inline-block;
			vertical-align: middle;	        
			zoom: 1;
			*display: inline;
			margin: 0 48px 0 0;
		}
			.mainMenu li a {
				font:16px/18px 'pf_beausans_proregular';
				color:#373737;
				text-decoration: none;
			}
			.mainMenu li a:hover, .mainMenu li.cur a {
				color:#d22845;
			}

/*search*/

.search {
	position:absolute;
	top: 29px;
	right: 35px;
	cursor:pointer;
}
	.search i {
		display:block;
		width:33px;
		height:33px;
		background: url(../i/search.png) no-repeat 0 0;
	}

/*=============header__search
==============================*/

.header__search {
	display:none;
	position:relative;
	background: #fff;
	z-index:800;
}
.header__searchI {
	width:1280px;
	position:relative;
	height:91px;
	margin:0 auto;
}
.search__slog {
	position:absolute;
	top: 34px;
	left: 392px;
}
	.search__slog i {
		display:block;
		position:absolute;
		top: -6px;
		left: -55px;
		width:33px;
		height:33px;
		background: url(../i/search_h.png) no-repeat 0 0;	
		}
	.search__slog span {
		
	}
	.search__slog input {
		position:absolute;
		top:1px;
		left:0;
		width:490px;
		border:0;
		background: none;
		font:16px/18px 'pf_beausans_proregular';
		color:#373737;
	}
		.search__slog input:focus {
			outline:none;
			background: #fff;
		}
.close_ar {
	display:block;
	position:absolute;
	top: 28px;
	right: 90px;
	width:33px;
	height:33px;
	background: url(../i/s_ar.png) no-repeat 0 0;
	cursor:pointer;
}
.close_cross {
	display:block;
	position:absolute;
	top: 28px;
	right: 34px;
	width:33px;
	height:33px;
	background: url(../i/cross.png) no-repeat 0 0;
	cursor:pointer;
}

/*===========search__menu
==========================*/

.search__menu {
	position:absolute;
	width:100%;
	top:100%;
	left:0;
	overflow:hidden;
}

/*==search__bord
=================*/

.search__bord {
	position:absolute;
	width:100%;
	bottom:0;
	height:100%;
	z-index:1;
}
	.search__bord.bord_p {
		right:50%;
		background: #d22845;
		z-index:1;
		}
	.search__bord.bord_b {
		left:50%;
		background:#339dcf;
		z-index:1;
		}

/*==serch__menuI
=================*/

.serch__menuI {
	position:relative;
	width:1480px;
	margin:0 auto;
	z-index:5;
	background:url(../i/grad.png) repeat-y 50% 0;
	padding: 34px 0 18px;
}
	.serch__menuI ul {
		margin: 0 0 0 493px;
	}
		.serch__menuI li {
			margin: 0 0 14px;
		}
			.serch__menuI li a {
				font:16px/18px 'pf_beausans_proregular';
				color:#fff;
				text-decoration: none;
			}
				.serch__menuI li a:hover span {
					font:16px/18px 'pf_beausans_prosemibold';
					text-decoration: underline;
				}
				.serch__menuI a i {
					display:none;
					
					width:21px;
					height:21px;
					background:url(../i/arrow_i.png) no-repeat 0 0;
					margin: -5px 0 0 10px;
				}
					.serch__menuI a:hover i {
						display: -moz-inline-stack;
						display: inline-block;
						vertical-align: middle;	        
						zoom: 1;
						*display: inline;
					}

/*==========footer
===================*/

.footer {
	position:relative;
	overflow:hidden;
	padding:153px 0 0;
}

/*footer__bord*/
.footerBord {
	position:absolute;
	width:100%;
	bottom:0;
	height:7px;
}

.footer__bord {
	position:absolute;
	width:100%;
	top:0;
	height:7px;
}
	.footer__bord.bord_p {
		right:50%;
		background: #d22845;
		z-index:1;
		}
	.footer__bord.bord_b {
		left:50%;
		background:#339dcf;
		z-index:1;
		}
	.footer__bord.bord_g {
		background:url(../i/grad.png) no-repeat 50% 0;
		z-index:5;
		}

/*footer__i*/

.footer__i {
	height:90px;
	width:1280px;
	margin:0 auto;
	
	
	}
.copy {
	float:left;
	font:18px/20px Arial, sans-serif;
	color:#000;
	padding: 26px 0 0 22px;
}
.region {
	float:right;
	font:18px/20px Arial, sans-serif;
	color:#000;
	padding: 25px 25px 0 0;
}
	.region:hover a {
		display:inline;
	}
	.region a {
		display:none;
		font:18px/20px Arial, sans-serif;
		color:#000;
		margin:0 0 0 40px;
		text-decoration: none;
	}
	.region i {
		display: -moz-inline-stack;
		display: inline-block;
		vertical-align: middle;	        
		zoom: 1;
		*display: inline;
		width:29px;
		height:29px;
		background: url(../i/blr.png) no-repeat 0 0;
		margin: -8px 0 0 8px;
	}
		.region .rus i {
			background-position:0 -44px;
		}
		.region .uk i {
			background-position:0 -88px;
		}
/*==========centralPage
=======================*/

.centralPage {
	width: 1280px;
	margin:0 auto;
	
	
}

/*=====sliderBox
=================*/

.sliderBox {
	margin:9px -100px 0;
	background: url(../i/grad.png) repeat-y 0 0;
}

/*slider__i*/

.cacheImg {
	position: absolute;
	top: -5000px;
	left: -5000px;
}

.slider_bg_1 { background-image:url('../i/img/pic1.jpg'); }
.slider_bg_2 { background-image:url('../i/img/pic2.jpg'); }
.slider_bg_3 { background-image:url('../i/img/pic3.jpg'); }

.slider__i {
	display: none;	
	text-decoration: none;
	position:relative;
}
.linkSlide {
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:3;
}

.slider__i:first-child {
	display: block;
}

	.slider__ii {
		position:relative;
		height:542px;
	}


		.slider__title {
            /*display: none;*/
			position:absolute;
			top:82px;
			left:0;
			width: 562px;
			text-decoration: none;
			z-index:5;
		}

		/*
		.slider__title:first-child {
            display: block;
        }
        */

        .slider__title.cur {
            display: block;
         }
         	.slider__title:hover h2 {
         		background: #1183b8;
         	}
         	.slider__title:hover .slider__txt {
         		background: #26a9e6;
         	}
			.slider__title h2 {
				background:#26a9e6;
				font:36px/42px 'pf_beausans_prosemibold';
				color:#fff;
				padding: 38px 0 39px 99px;
			}
			.slider__txt {
				background:#1183b8;
				border-radius:0 0 15px 0;
				font:18px/27px Arial, sans-serif;
				color:#fff;
				padding: 15px 69px 29px 97px;
			}
				.slider__txt i {
					display: -moz-inline-stack;
					display: inline-block;
					vertical-align: middle;	        
					zoom: 1;
					*display: inline;
					width:21px;
					height:21px;
					background:url(../i/arrow.png) no-repeat 0 0;
				}

/*slider__nav*/
.slider__nav {
	height:97px;
	margin:0 100px;
	padding: 25px 0 30px 0;
}
	.nav__i {
		position:relative;
		float:left;
		background:url(../i/dotted.png) repeat-y 0 0;
		padding:0 0 15px 59px;
		margin:0 0 0 47px;
		cursor:default;
	}
		.nav__i:first-child {
			background:none;
			padding: 0px 0 0 34px;
			margin:0;
		}
		.nav__i.cur {

		}

			.nav__i:first-child .boxImg {
				top: -96px;
				left: -30px;
				width:124px;
				height:124px;
			}

				.nav__i.mouse_over .nav__title,
				.nav__i.cur .nav__title {
					font:24px/35px 'pf_beausans_prosemibold';
					letter-spacing: 0.03px;
				}
				.nav__i.cur .boxImg img {
					/*width:124px;*/
					/*height:124px;*/
				}
.nav__img {
	float:left;
	width:120px;
	position:relative;
	height:82px;
}
	.boxImg {
		position:absolute;
		top: -2px;
		left: 0px;
		width:82px;
		height:82px;
		border:8px solid #fff;
		border-radius:50%;
		overflow:hidden;
	}
		.boxImg img {
            display: block;
            width: 100%;
			/*width:82px;*/
			/*height:82px;*/
		}
.nav__title {
	overflow:hidden;
	zoom:1;
	font: 24px/35px 'pf_beausans_prolight';
	letter-spacing: 0.49px;
	padding: 13px 0 0 0;
	color:#fff;
}

/*=====optionBox
=================*/

.optionBox {
	overflow:hidden;
	zoom:1;
	margin:0 -100px;
}

/*optionItem*/

.optionItem {
	float:left;
	width:480px;
	height:325px;
	position:relative;
}
.optionItem.left:hover {
	background: #26a9e6;
}
.optionItem.right:hover {
	background: #1183b8;
}
	.optionItem:hover .optionIcon {
		background-image: url(../i/icon_h.png);
	}
	.optionItem:hover .optionTitle,
	.optionItem:hover .optionDescr,
	.optionItem:hover .optionDescr a,
	.optionItem:hover .cloudBtn {
		color:#fff;
	}
	.optionItem:hover .cloudBtn {
		border:4px solid #fff;
		background: none;
	}
	.optionItem.left {
		padding:69px 135px 144px 122px;
	}
	.optionItem.right {
		padding:69px 122px 144px 135px;
	}
.optionIcon {
	display:block;
	width:58px;
	height:58px;
	background:url(../i/icon.png) no-repeat 0 0;
}
	.optionIcon.icon_reg {
		background-position:0 0;
	}
	.optionIcon.icon_help {
		background-position:0 -68px;
	}
	.optionIcon.icon_part {
		background-position:0 -136px;
	}
	.optionIcon.icon_soc {
		background-position:0 -204px;
	}
.optionTitle {
	font:30px/30px 'pf_beausans_probold';
	color:#000;
	margin: 64px 0 0;
	text-transform:uppercase;
}
.optionDescr {
	margin: 28px 0 0;
	font: 18px/27px Arial, sans-serif;
	color:#000;
}
	.optionDescr a {
		color:#26a9e6;
	}
		.optionDescr a:hover {
			text-decoration:none;
		}
.cloudBtn {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;	        
	zoom: 1;
	*display: inline;
	border:4px solid #26a9e6;
	background:#fff;
	border-radius:3px 3px 15px 15px;
	font:18px/20px 'pf_beausans_prolight';
	color:#26a9e6;
	margin: 40px 0 0;
	padding: 12px 13px 10px 18px;
	text-decoration:none;
}

/*==========bannerBox
======================*/

.bannerBox {
	width:1280px;
	margin:0 auto;
}
	.bannerBox__i {
		height:520px;
		background:url(../i/img/ban.jpg) no-repeat 50% 0;
		position:relative;
		margin:0 -100px;
	}
	.bannerBox:hover .bannerBox__i {
		background-position:50% -529px;
	}
.bannerDescr {
	display:block;
	position:absolute;
	top: 71px;
	right: 168px;
	width: 442px;
	text-decoration: none;
}
	.iconBan {
		display:block;
		width:58px;
		height:58px;
		background:url(../i/i_ban.png) no-repeat 0 0;
	}
		.iconBan.serv {
			background-image: url(../i/serv.png);
		}
	.titleBan {
		color:#fff;
		margin: 62px 0 0 4px;
		text-transform:uppercase;
		font:30px/30px 'pf_beausans_prosemibold', sans-serif;
	}
	.txtBan {
		font:18px/27px Arial,sans-serif;
		color:#fff;
		margin: 46px 0 0 5px;
	}
		.txtBan a {
			color:#fff;
		}

/*==========addMenu
====================*/

.addMenu {
	overflow:hidden;
	zoom:1;
	width:1240px;
	margin:72px auto 0;
}
	.addMenu ul {
		float:left;
		margin: 0 0 0 146px;
	}
		.addMenu ul:first-child {
			margin:0;
		}
		.addMenu li {
			margin: 0 0 8px;
		}
			.addMenu li.titleLink {
				margin: 0 0 39px;
			}
				.addMenu li.titleLink a {
					font:16px/18px 'pf_beausans_prosemibold', sans-serif;
					color:#000;
				}
				
			.addMenu li.ros {
				margin: 38px 0 0;
			}
			.addMenu li a {
				text-decoration:none;
				font:16px/18px 'pf_beausans_proregular';
				color:#000;
			}
				.addMenu li a:hover {
					color:#d22845;
				}

/*==================second==========================*/

/*=====navigation__prod
========================*/

.navigation__prod {
	height:70px;
	width:1280px;
	margin:0 auto;
}
.title__nav {
	float:left;
	margin:0 0 0 -100px;
	width:468px;
	text-align: right;
	background: #d02947;
	font:14px/14px 'pf_beausans_proregular';
	color:#fff;
	padding: 28px 126px 28px 0;
	vertical-align: middle;	
}
	.title__nav i {
		display: -moz-inline-stack;
		display: inline-block;
		vertical-align: middle;	        
		zoom: 1;
		*display: inline;
		width:18px;
		height:15px;
		background:url(../i/nav.png) no-repeat 0 0;
		margin: 0px 16px 0 0;
	}
	.title__nav.info i {
		background:url(../i/i.png) no-repeat 100% 0px;
		height:16px;
		margin-top:-1px;
	}

/*===nav__i
============*/

.nav__prod__i {
	background: #329ed0;
	float:left;
	width:886px;
	margin:0 -100px 0 0;
	overflow:hidden;
	zoom:1;
}
	.nav__prod__i li {
		float:left;
	}
		.nav__prod__i li a {
			display:block;
			font:14px/14px 'pf_beausans_proregular';
			color:#fff;
			text-decoration: none;
			padding: 28px 22px 29px 22px;
		}
		.nav__prod__i li.cur a {
			background: #1183b8;
		}
		.nav__prod__i li a:hover {
			background: #1183b8;
		}

/*=========catalogPage
=======================*/

.catalogPage {
	min-width: 1280px;
	padding: 0 0 114px;
	background: url(../i/catalog_f.jpg) no-repeat 50% 0;
}

.catalogBox {
	width:1280px;
	margin:0 auto;
	padding: 86px 0 0;
}
.catalog__i {
	overflow:hidden;
	zoom:1;
	width:100%;
}
.catalog__ii {
	margin:0 -23px;
}

/*prod__item*/

.prod__item {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;	        
	zoom: 1;
	*display: inline;
	width:393px;
	margin:0 23px 102px;
	text-decoration:none;
}

.prod__pic {
	height:170px;
	text-align: center;
	overflow:hidden;
	margin: 0 0 68px;
}
	.prod__pic img {
	}
		.prod__item:hover .prod__pic img {
			margin:-170px 0 0;
		}

/*prod__descr*/

.prod__descr {
	background: #329ed0;
	color:#fff;
	padding: 49px 45px 10px 26px;
	height:212px;
}
	.prod__item:hover .prod__descr {
		background: #fff;
		color:#1183b8;
	}
.title__descr {
	font:30px/30px 'pf_beausans_probold';
	text-transform: uppercase;
	margin: 0 0 28px;

}

.descr__i {
	font:18px/27px Arial, sans-serif;
}

/*pager*/

.pager {
	text-align: center;
	padding: 3px 0 10px;
}
	.pager a {
		display: -moz-inline-stack;
		display: inline-block;
		vertical-align: middle;	        
		zoom: 1;
		*display: inline;
		width:11px;
		height:11px;
		background: url(../i/bul.png) no-repeat 0 0;
		margin:0 9px;
	}
		.pager a:hover {
			background-position: 0 -21px;
		}
		.pager a.cur {
			background-position: 0 -42px;
		}


/*===============contentBox
============================*/

.contentBox {
	width:1280px;
	margin:0 auto;
}

.content {
	color:#000;
}
	.content h1 {
		font:48px/48px 'pf_beausans_prosemibold';
		margin: 106px 0 82px;
	}
	.content p {
		font:18px/27px Arial, sans-serif;
		margin: 54px 0 0;
	}
	.content ol {
		margin: 27px 0 0 25px;
		font:18px/27px Arial, sans-serif;
	}
	.content h2 {
		font:30px/30px 'pf_beausans_prosemibold';
		margin: 101px 0 0;
	}
	.content ul {
		margin: 27px 0 0 20px;
	}
		.content ul li {
			list-style-type: disc;
			font:18px/27px Arial, sans-serif;
			margin: 0 0 27px;
		}
	.content blockquote {
		font:36px/54px 'pf_beausans_prolight';
		margin: 159px 280px 0 129px;
	}
	.content .bannerBox {
		margin: 93px auto 0;
	}

	/*gallery*/

	.content .galleryBox {
		position:relative;
		height:648px;
		margin: 86px 0 0;
	}
		.galleryBox .gal__a {
			display:block;
			position:absolute;
			top:50%;
			width:72px;
			height:72px;
			background-image: url(../i/arrow_g.png);
			background-repeat: no-repeat;
			cursor:pointer;
			margin:-18px 0 0;
		}
			.galleryBox .gal__a.prev {
				background-position: 0 0;
				left:28px;
			}
			.galleryBox .gal__a.next {
				background-position: 0 -82px;
				right:28px;
			}

/*======adBox
==============*/

.adBox {
	margin: 129px -100px 0;
	overflow:hidden;
	zoom:1;
}
.ad__i {
	float:left;
}
	.ad__i.max {
		width:752px;
	}
	.ad__i.min {
		width:728px;
	}
	.ad__i.top {
		height:574px;
	}
	.ad__i.bot {
		height:540px;
	}
.ad__img {
	position:relative;
}
	.ad__img img {
		height:100%;
		width:100%;
	}
	.ad__img_h {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background:url(../i/big_ar.png) no-repeat 50% 50% rgba(17, 131, 184, 0.8);
		cursor:pointer;
		display:none;
	}
		.ad__img:hover .ad__img_h {
			display:block;
		}
.ad__txt {
	background:#26a9e6;
	height:100%;
	padding: 72px 190px 0 118px;
}
	.ad__txt:hover {
		background:#1183b8;
	}
	.ad__txt .ad__icon {
		display:block;
		width:58px;
		height:58px;
		background:url(../i/i_ban.png) no-repeat 0 0;
	}
	.ad__txt_title {
		color:#fff;
		margin: 62px 0 0 4px;
		text-transform:uppercase;
		font:30px/30px 'pf_beausans_probold', sans-serif;
	}
	.ad__txt_i {
		font:18px/27px Arial,sans-serif;
		color:#fff;
		margin: 28px 0 65px 7px;
	}
	.ad__txt .cloudBtn {
		border-color:#fff;
		color:#fff;
		background:none;
		margin: 0 0 0 8px;
	}

/*=========specification
==========================*/

.prodSpecification {

}
.modelReview {
	margin: 90px 0 0;
}

/*==cabinet==*/

	.modelReview .cabinet {
		width:100%;
		overflow: hidden;
		zoom: 1;
	}
		.modelReview .cabinet__i {
			display:block;
			float:left;
		}
			.modelReview .cabinet__i.cab_l {
				width:535px;
				margin: 0 85px 0 0;
			}
			.modelReview .cabinet__i.cab_r {
				width:660px;
			}

/*descr__model*/

.descr__model {
	margin: 62px 0 0 0;
}

.name__model {
	font:48px/57px 'pf_beausans_prosemibold';
	color:#000;
}

.txt__model {
	font: 18px/27px Arial, sans-serif;
	margin: 53px 0 0;
}

 .descr__model .cloudBtn {
 	margin: 59px 0 0;
 }
 	.cloudBtn.btn_blue {
 		background:#26a9e6;
 		color:#fff;
 		text-transform: uppercase;
 		font:30px/30px 'pf_beausans_probold';
 		padding: 8px 24px 4px 24px;
 	}

/*fotoBox__model*/

.fotoBox__model {
	margin: 9px 0 0;
}
.bigFotot__model {
	text-align: center;
	height:416px;
	line-height: 416px;
}
	.bigFotot__model img {		
		vertical-align:bottom;
		max-height:416px;
	}
.previewBox {
	height:135px;
	position:relative;
	overflow:hidden;
	margin: 60px 0 0;
	padding: 0 55px 0;
}
	.previewBox .prev_ar {
		position:absolute;
		top: 36px;
		width:25px;
		height:17px;
		background-image:url(../i/ar_pic.png);
		z-index:10;
		cursor:pointer;
	}
		.previewBox .prev_ar.ar_l {
			left: 17px;
			background-position: 0 0;
		}
			.previewBox .prev_ar.ar_l:hover {
				background-position: 0 -54px;
			}
		.previewBox .prev_ar.ar_r {
			right:12px;
			background-position: 0 -27px;
		}
			.previewBox .prev_ar.ar_r:hover {
				background-position: 0 -80px;
			}
.previewBox__i {
	overflow:hidden;
	zoom:1;
	padding:0 0 30px;
	position:relative;
	z-index:5;
}
.preview__item {
	float:left;
	position:relative;
	padding: 0 26px 0;
}
	.preview__item img {

	}
	.preview__item i {
		display:none;
		position:absolute;
		bottom:-27px;
		left:50%;
		width:10px;
		height:10px;
		border-radius:50%;
		margin:0 0 0 -5px;
		background:#d02947;
	}
		.preview__item.cur i {
			display:block;
		}

/*======characteristicsBox
===========================*/

.characteristicsBox {
	height:377px;
	margin: 45px -100px 0;
	padding: 110px 100px 0;
	background:url(../i/catalog_f.jpg) no-repeat 50% 0;
}

/*cabinet*/

.characteristicsBox .cabinet {
	overflow:hidden;
	zoom:1;
}
	.characteristicsBox .cabinet__i {
		
	}
		.characteristicsBox .cabinet__i.cab_l {
			float:left;
			width:560px;
			padding: 0 94px 0 0;
		}
		.characteristicsBox .cabinet__i.cab_r {
			overflow:hidden;
			zoom:1;
		}

/*==visual_characteristic
==========================*/

.visual_characteristic {
	position:relative;
	margin: 11px 0 0;
}
.visual__i {
	overflow:hidden;
	zoom:1;
	padding: 0 0px 25px 0;
}
.visual__item {
	height:170px;
}
	.visual__item .visual__pic {
		float:left;
		width:250px;
		margin: 0 69px 0 0;
	}
		.visual__item .visual__pic img {
			max-width: 250px;
		}
	.visual__item .visual__descr {
		font:30px/36px 'pf_beausans_probold';
		color:#fff;
		overflow:hidden;
		zoom:1;
		padding: 28px 0 0;
	}
.visual__loader {
	width: 245px;
	text-align: center;
}
	.visual__loader a {
		display: -moz-inline-stack;
		display: inline-block;
		vertical-align: middle;	        
		zoom: 1;
		*display: inline;
		width:10px;
		height:10px;
		margin: 0 8px;
		border-radius:50%;
		background:#fff;
	}
		.visual__loader a.cur {
			background: #d02947;
		}
/*==characteristic__descr
==========================*/

.characteristic__descr {
	padding: 6px 0 0;
}
	.characteristic__descr ul {
		padding: 0 78px 0 0;
	}
		.characteristic__descr li {
			font:18px/27px Arial, sans-serif;
			color:#fff;
			margin: 0 0 54px;
			padding: 0 0 0 81px;
			position:relative;
		}
			.characteristic__descr li i {
				display:block;
				position:absolute;
				top: -2px;
				left:0;
				width:58px;
				height:58px;
				background-image: url(../i/icon_char.png);
			}
				.characteristic__descr li i.ram {
					background-position: 0 0;
				}
				.characteristic__descr li i.module {
					background-position: 0 -68px;
				}
				.characteristic__descr li i.muse {
					background-position: 0 -136px;
				}

/*======featuresBox
=====================*/

.featuresBox {
	min-height:640px;
	position:relative;
	margin: 119px -100px 142px;
	padding:0 100px;
}

/*boxFiles*/

.boxFiles {
	position:absolute;
	background:#26a9e6;
	top:0;
	right:0;
	padding: 64px 131px 48px 38px;
	width: 200px;
}
.titleFiles {
	font:30px/32px 'pf_beausans_prosemibold';
	color:#fff;
	position:relative;
	padding: 0 0 0 46px;
	margin: 0px 0 64px;
}
	.titleFiles i {
		display:block;
		position:absolute;
		top: 3px;
		left:0;
		width:20px;
		height:23px;
		background:url(../i/file.png) no-repeat 0 0;
	}
.files__option {
	margin: 0 25px 0 0;
}
	.files__option li {
		margin: 0 0 40px;
	}
		.files__option li a {
			display: -moz-inline-stack;
			display: inline-block;
			vertical-align: middle;	        
			zoom: 1;
			*display: inline;
			position:relative;
			font:18px/28px Arial, sans-serif;
			color:#fff;
			text-decoration:none;
			padding: 0 0 0 46px;
		}
			.files__option a i {
				display:block;
				position:absolute;
				top: 3px;
				left: -2px;
				font:normal 17px/18px 'pf_beausans_probold';
				color:#fff;
				text-transform: uppercase;
			}
				.files__option a i.arrow_f {
					background: url(../i/arrow_f.png) no-repeat 0 0;
					width:16px;
					height:14px;
				}

/*featuresBox__i*/

.featuresBox__i {
	padding:0 320px 0 0;
}
.features__title {
	font:30px/30px 'pf_beausans_prosemibold';
	color:#000;
	margin: 94px 0 0;
}
.features__data {
	width:100%;
	margin: 39px 0 0;
}
	.features__data tr {

	}
		.features__data td {
			padding:0 8px 0 0;
			font:18px/18px Arial, sans-serif;
			color:#000;
			height: 45px;
		}
		.features__data td:first-child {
			width:510px;
		}