@media (max-width: 940px) {
	.nav__i.cur .nav__title{font-weight: bold;}
	.slider__ii {height: 440px;}
	.slider__txt{font-size: 12px;}
	.slider__title h2 {font-size: 23px;}
}
@media (max-width: 700px) {
	.addMenu li a {font: 12px/18px 'pf_beausans_proregular';}
}

@media (max-width: 1280px) {
	.nav__title, .nav__i.cur .nav__title {font: 19px/26px 'pf_beausans_prolight';}

}
@media (max-width: 1100px) {
	.slides-wrapper {height: 500px;}
	.mainMenu>ul>li>a {font-size: 12px;}
}
@media (max-width: 970px){
	.slides-wrapper {height: 435px;}
}
@media (max-width: 870px){
	.slides-wrapper {height: 400px;}
}