@media (max-width: 940px) {
	.nav__title, .nav__i.cur .nav__title {font: 19px/26px 'pf_beausans_prolight';}
	.nav__i.cur .nav__title{font-weight: bold;}
	.slider__ii {height: 440px;}
}
@media (max-width: 700px) {
	.addMenu li a {font: 12px/18px 'pf_beausans_proregular';}
}

@media (max-width: 1280px) {
	.modelReview .cabinet__i.cab_l {margin: 0 7% 0 2% !important;}
	.searchPage {margin: 74px 5% 117px;}
	.header-title {margin: 0 2%;}
	.miniBox__faq {margin: 84px 0 0 2.5%;}
}